XSD/cart.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cart">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="time" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cart_items">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="PID" type="xs:unsignedByte" />
                <xs:element minOccurs="0" name="Pname" type="xs:string" />
                <xs:element minOccurs="0" name="Pdesc" type="xs:string" />
                <xs:element minOccurs="0" name="price" type="xs:decimal" />
                <xs:element minOccurs="0" name="qty" type="xs:unsignedByte" />
                <xs:element minOccurs="0" name="Pstatus" />
                <xs:element minOccurs="0" name="CartID" type="xs:unsignedByte" />
              </xs:sequence>
              <xs:attribute name="id" type="xs:unsignedByte" use="optional" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>