XSD/Corder.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.amazing.com/Orders" elementFormDefault="qualified" targetNamespace="http://www.amazing.com/Orders" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Add_Order">
        <sequence>
            <element name="OID" type="integer" minOccurs="1" />
            <element name="CID" type="integer" minOccurs="1" />
            <element name="Pstatus" type="string" minOccurs="1" />
            <element name="order_items" minOccurs="1">
                <complexType>
                    <sequence>
                        <element name="PID" type="integer" />
                        <element name="Pname" type="string" />
                        <element name="price" type="decimal" />
                        <element name="qty" type="integer" />
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <element name="Add_Order" type="tns:Add_Order" />
    
    <complexType name="Order">
        <sequence>
            <element name="OID" type="integer" minOccurs="1" />
            <element name="CID" type="integer" minOccurs="1" />
            <element name="Pstatus" type="string" minOccurs="1" />
            <element name="order_items" minOccurs="1">
                <complexType>
                    <sequence>
                        <element name="PID" type="integer" />
                        <element name="Pname" type="string" />
                        <element name="price" type="decimal" />
                        <element name="qty" type="integer" />
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <element name="Order" type="tns:Order" />
</schema>